.main-body {
  background: #005aa7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fffde4,
    #005aa7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fffde4,
    #005aa7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Modak', cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.counter {
  font-size: 8em;
  font-weight: 900;
  text-shadow: 2px 2px 4px;
}

.neon {
  position: relative;
  overflow: hidden;
  filter: brightness(200%);
  border-radius: 72px;
}

.text {
  background-color: black;
  color: white;
  font-size: 180px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
  user-select: none;
  padding: 32px 48px 32px 32px;
}

.text::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  filter: blur(0.02em);
  mix-blend-mode: difference;
}

.gradient {
  position: absolute;
  background: linear-gradient(45deg, #005aa7, #fffde4, #fff, #fffde4, #005aa7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
}

.spotlight {
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  background: 
      radial-gradient(
          circle,
          white,
          transparent 25%
      ) center / 25% 25%,
      radial-gradient(
          circle,
          white,
          black 25%
      ) center / 12.5% 12.5%;
  animation: light 5s linear infinite;
  mix-blend-mode: color-dodge;
}

@keyframes light {
  to {
      transform: translate(50%, 50%);
  }
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button {
  background: #005AA7;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.button:hover {
  background: rgba(255, 255, 255, 0);
  color: #005AA7;
}

.button:before, .button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #005AA7;
  transition: 400ms ease all;
}

.button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.button:hover:before, .button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}